body{
    display:  flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #131212, #d8c414);
}

form{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 45px;
     box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form label{
    margin-bottom: 5px;
}

form label .fa-solid{
    font-size: 20px;
    color: #161313;
    margin-right: 10px; 
}

form label input::placeholder{
    color: rgba(37, 37, 37, 0.5);
}

form button.btn-primary{
    color: #fff;
    border:  none;
    background: linear-gradient(to right, #282b16, #050505);
    padding: 10px 15;
    cursor: pointer;
    font-size: 20px;
}


#log{
    color: #fff;
    border:  none;
    background: linear-gradient(to right, #bacb23, #54680f);
    padding: 10px 15;
    cursor: pointer;
    font-size: 20px;
}

